
body {
  background-color: white;
}

.navbar {
  min-width: 500px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.flexbox-home {
  max-width: 1600px;
  margin: auto;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox-about{
  max-width: 1600px;
  line-height: 1.5;
}

.flex-container {
  width: 1600px;
  display: flex;
}

.image{
    width:50%;
    padding: 50px;
    align-items: center;
    flex-direction: row;
    display: flex;
    }


.flexbox-project{
  max-width: 1600px;
  margin: auto;
  line-height: 1.5;
}

.component {
  padding: 25px;
}

.portrait {
  flex: 1;
  flex-direction: row;
  align-items: center;
  float: left;
}

.main p{
  flex: 3;
}

li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: left;
  color: black;
}

li a {
  color:black;
  margin: 0px;
  font-family: "Lemon Milk", sans-serif;
  font-weight: lighter;
  font-variant:small-caps;
  text-decoration: none;
}

a:hover {
  color:#034d1c;

}

h1 {
  font-size: 1rem;
  color: black;
  margin: 0px;
  font-family: "Lemon Milk", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  background-color: #cbe8bb;
}

h2 {
  font-family: "Lemon Milk", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  background-color: #cbe8bb;
  opacity: 100%
}

h3 {
  font-family: "Lemon Milk", sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  background-color: #cbe8bb;
}

p {
  z-index: 999;
  font-family: "Proxima Nova", sans-serif;
}

.component img{
    opacity: 100%;
    width: 50%;
    margin-left: auto;
    position: relative;
  }

/* #myVideo {
  opacity: 40%;
  position: relative;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  z-index: -100;
  overflow: hidden;
  margin-bottom: -1600px;
} */



@media (max-width: 900px) {

    .flexbox-about{
      min-width: 500px;
      max-width: 900px;
      margin: auto;
      line-height: 1.5;

    }
    .flexbox-home {
      min-width: 500px;
      max-width: 900px;
      margin: auto;
      line-height: 1.5;
    }

    .flex-container {
      min-width: 500px;
      max-width: 900px;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      text-align: center;
    }

    .component {
    padding: 0px;
    align-items: center;
    }

    .component img{
      margin-right: 50px;
      width: 50%;
      align-items: center;
    }

    .image{
      padding: 50px;
      align-items: center;
    }

    p{
      font-family: "Proxima Nova", sans-serif;
      font-weight: lighter;
      font-size: 12pt;
    }

    /* #myVideo {
      opacity: 25%;
      position: relative;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 50%;
      object-fit: cover;
      z-index: -100;
      overflow: hidden;
      margin-bottom: -900px;
    } */
  }
