
body {

}

video {
    clip-path: inset(1px 1px);
}

nav {
  min-width: 500px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Lemon Milk", sans-serif;
}

li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: left;
  color: black;
}

li a {
  color:black;
  margin: 0px;
  font-family: "Comfortaa", sans-serif;
  font-weight: lighter;
  font-variant:small-caps;
  text-decoration: none;
}

a:hover {
  color:#034d1c;
}

div {
  width: 1600px;
  display: flex;
  margin: auto;
  padding: 50px;
}

div img {
  box-shadow: 1px 1px 3px;
}

h2 span{
  font-family: "Comfortaa", sans-serif;
  background-color: #e7f9d7;
  color:black;
  font-weight: bolder;
}

.text{
  display:flex;
  flex-direction: column;
}

.text pleco {
  align-items: center;
  align-self: center;
}

p {
  font-family: "Comfortaa", sans-serif;
  line-height: 2.0;
}
