
body {
}

video {
    clip-path: inset(1px 1px);
}

nav {
  min-width: 500px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Lemon Milk", sans-serif;
  background-color: #e4fde1;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}

li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: left;
  color: black;
}

li a {
  color:black;
  margin: 0px;
  font-family: "Comfortaa", sans-serif;
  font-weight: lighter;
  font-variant:small-caps;
  text-decoration: none;
}

a:hover {
  color:#034d1c;
}

div {
  width: 1280px;
  display: flex;
  margin: auto;
  padding: 20px;
  margin-bottom: 10px;
  vertical-align: top;
}
.flexbox {
  vertical-align: top;
}

.fauna {
  width: 1600px;
  display: flex;
  margin: auto;
  padding: 50px;
}

div img {
  box-shadow: 1px 1px 3px;
}

h2 span{
  font-family: "Comfortaa", sans-serif;
  background-color: #e4fde1;
  color:black;
  font-weight: bolder;
  padding-bottom: 0px;
}

h3 span{
  font-family: "Comfortaa", sans-serif;
  color: black;
  font-style: italic;
}

.text{
  width:1280px;
  height: 800px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin-bottom: 100px;
}

.home{
  width:1280px;
  height: 500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin-bottom: 110px;
}

.home p{
  width: 640px;
  height: 300px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 100px;
}

.text p{
  width: 640px;
  height: 300px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 100px;
}

.tank {
  display: block;
  margin: 0 auto;
}

.a li{
  display: list-item;
  list-style-type: circle;
  align-items: baseline;
  text-align: left;
  font-family: "Comfortaa", sans-serif;
}

p {
  font-family: "Comfortaa", sans-serif;
  line-height: 2.0;
}

#hand {
  box-shadow: none;
}

.inspiration{
  width:1280px;
  height: 500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.final {
  width:1280px;
  height: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}


.vertical {
  margin-bottom: 10px;
}
